<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Citations - Duquesne Incline</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/script.js" defer></script>
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="../static/DuqInclineLogo.png" alt="Duquesne Incline Logo" class="logo">
        </div>
        <h1>Duquesne Incline</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="hours.html">Hours and Fares</a></li>
                <li><a href="field.html">Field Trip</a></li>
                <li><a href="giftshop.html">Gift Shop</a></li>
                <li><a href="history.html">History</a></li>
                <li><a href="tours.html">Tours</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="info">
            <h2>The following sources were used for images on this website:</h2>
            <ul>
                <li><a href="https://www.glasshouseapts.com/news-events/up-up-and-away-see-the-gorgeous-views-of-the-steel-city-at-the-duquesne-incline-in-pittsburgh-pa/" target="_blank">
                    Incline Picture - Main Page</a></li>
                <li><a href="https://www.flaticon.com/search?word=instagram" target="_blank">
                    Instagram Icon - Connect Page</a></li>
                <li><a href="https://www.flaticon.com/search?word=facebook" target="_blank">
                    Facebook Icon - Connect Page</a></li>
                <li><a href="https://www.flaticon.com/search?word=info" target="_blank">
                    Info Icon - Connect Page</a></li>
                <li><a href="https://www.flaticon.com/search?word=tour" target="_blank">
                    Tour Icon - Connect Page</a></li>
                <li><a href="https://www.duquesneincline.org/index1065.html?page=gift-shop" target="_blank">
                    Duquesne Incline Gift Shop Images - Gift Shop Page</a></li>
            </ul>
        </section>
        
    </main>
    
    <footer>
        <nav>
            <ul>
                <li><a href="parking.html">Parking</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="connect.html">Connect</a></li>
            </ul>
        </nav>
        <p>&copy; 2025 Duquesne Incline</p>
        <p>
            <a href="citations.html" class="footer-link">Image Citations</a> | 
            <a href="sitemap.html" class="footer-link">Site Map</a>
        </p>
    </footer>
</body>
</html>
