<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Duquesne Incline</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/contact-table.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="../static/DuqInclineLogo.png" alt="Duquesne Incline Logo" class="logo">
        </div>
        <h1>Duquesne Incline</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="hours.html">Hours and Fares</a></li>
                <li><a href="field.html">Field Trip</a></li>
                <li><a href="giftshop.html">Gift Shop</a></li>
                <li><a href="history.html">History</a></li>
                <li><a href="tours.html">Tours</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="contact">
            <h2>Contact Information</h2>
            <table class="contact-table">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Phone">Phone</td>
                        <td data-label="Number">412.381.1665</td>
                    </tr>
                    <tr>
                        <td data-label="Fax">Fax</td>
                        <td data-label="Number">412.381.1943</td>
                    </tr>
                    <tr>
                        <td data-label="Email">Email</td>
                        <td data-label="Contact">
                            <a href="mailto:duq.incline@duquesneincline.org">
                                duq.incline@duquesneincline.org
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td data-label="Mailing Address">Mailing Address &<br>Wheelchair Accessibility</td>
                        <td data-label="Address">1220 Grandview Ave.<br>Pittsburgh, PA. 15211</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    
    <footer>
        <nav>
            <ul>
                <li><a href="parking.html">Parking</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="mailing.html">Mailing List</a></li>

            </ul>
        </nav>
        <p>&copy; 2025 Duquesne Incline</p>
    </footer>
</body>
</html>