<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Field Trip - Duquesne Incline</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="../static/DuqInclineLogo.png" alt="Duquesne Incline Logo" class="logo">
        </div>
        <h1>Duquesne Incline</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="hours.html">Hours and Fares</a></li>
                <li><a href="field.html">Field Trip</a></li>
                <li><a href="giftshop.html">Gift Shop</a></li>
                <li><a href="history.html">History</a></li>
                <li><a href="tours.html">Tours</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="info">
            <h2>Field Trip Program For Students and Youth Groups</h2>
            <p>A free field trip program is available for students and youth groups of ten or more daily - except Saturdays and Sundays after 12:00 noon due to weekend crowds and limited space. The program includes:</p>
            <ul>
                <li>A teacher's lesson packet for students' specific grade level</li>
                <li>A round trip ride on the Duquesne Incline</li>
                <li>A history of inclines in Pittsburgh</li>
                <li>A discussion about Pittsburgh's industrial past</li>
                <li>A visit to the machine room to observe the original hoisting equipment in operation and learn about the engineers who built it</li>
                <li>A panoramic view of Downtown Pittsburgh and The North Shore from our observation deck 400 feet above the three rivers</li>
                <li>A brief history of the French and Indian War from which the city arose</li>
            </ul>
            <p><a href="http://incline.pghfree.net/duquesneincline/view.php?id=1" target="_blank">Click here to make reservations</a></p>
        </section>
    </main>
    
    <footer>
        <nav>
            <ul>
                <li><a href="parking.html">Parking</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="connect.html">Connect</a></li>

            </ul>
        </nav>
        <p>&copy; 2025 Duquesne Incline</p>
    </footer>
</body>
</html>
