<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hours & Fares - Duquesne Incline</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="../static/DuqInclineLogo.png" alt="Duquesne Incline Logo" class="logo">
        </div>
        <h1>Duquesne Incline</h1>
        <nav>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="hours.html">Hours and Fares</a></li>
                <li><a href="giftshop.html">Gift Shop</a></li>
                <li><a href="things.html">Things to Do</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="info">
            <h2>Hours</h2>
            <p>Open 365 Days a Year</p>
            <p>6:30 a.m. to 12:30 a.m.</p>
            <p>No Reservations or Advance Tickets</p>
            
            <h2>Fares</h2>
            <ul>
                <li>Adults (12-64): $2.50 Each Way / $5.00 Round Trip</li>
                <li>Children (6-11): $1.25 Each Way / $2.50 Round Trip</li>
                <li>Children 5 and Under: Free</li>
                <li>University Students (Pitt, CMU, Chatham): Free with ID</li>
            </ul>
        </section>
        
        <!-- <section class="contact">
            <h2>Contact Us</h2>
            <p>1197 West Carson St, Pittsburgh, PA 15219</p>
            <p>Phone: 412-381-1665</p>
            <p>Email: <a href="mailto:duq.incline@duquesneincline.org">duq.incline@duquesneincline.org</a></p>
        </section> -->
    </main>

    <footer>
        <nav>
            <ul>
                <li><a href="parking.html">Parking</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
        <p>&copy; 2025 Duquesne Incline</p>
    </footer>
</body>
</html>
