<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duquesne Incline</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="../static/DuqInclineLogo.png" alt="Duquesne Incline Logo" class="logo">
        </div>
    </header>
    <div class="sitemap-container">
        <h1 class="sitemap-title">Virtual Site Map</h1>

        <div class="sitemap">
            <ul>
                <li><a href="../index.html">🏠 Home</a></li>
                <ul class="sub-menu">
                    <li><a href="hours.html">⏳ Hours and Fares</a></li>
                    <li><a href="field.html">🎓 Field Trip</a></li>
                    <li><a href="giftshop.html">🛍️ Gift Shop</a></li>
                    <li><a href="history.html">📜 History</a></li>
                    <li><a href="tours.html">🚶 Tours</a></li>
                </ul>
                <li><a href="parking.html">🅿️ Parking</a></li>
                <li><a href="contact.html">📧 Contact Us</a></li>
                <li><a href="connect.html">🔗 Connect</a></li>
                <li><a href="citations.html">📸 Image Citations</a></li>
            </ul>
        </div>
    </div>
</body>
</html>