<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Things to Do - Duquesne Incline</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="../static/DuqInclineLogo.png" alt="Duquesne Incline Logo" class="logo">
        </div>
        <h1>Duquesne Incline</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="hours.html">Hours and Fares</a></li>
                <li><a href="field.html">Field Trip</a></li>
                <li><a href="giftshop.html">Gift Shop</a></li>
                <li><a href="history.html">History</a></li>
                <li><a href="things.html">Things to Do</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="info">
            <h2>City Tours That Feature the Duquesne Incline</h2>
            <ul>
                <li><a href="http://www.pghtoursandmore.net">Pittsburgh Tours and More</a> - 412-323-4707</li>
                <li><a href="http://www.mollystrolleyspgh.com">Molly's Trolleys</a> - 412-281-2055</li>
                <li><a href="http://www.riversofsteel.com">Rivers of Steel</a> - 412-464-4020 or 412-381-8687</li>
                <li><a href="http://www.pghtours.com">The Pittsburgh Tour Company</a> - 412-381-8687</li>
            </ul>
        </section>
        
        <section class="info">
            <h2>Things to Do After Your Incline Visit</h2>
            <h3>Dining on Grandview Avenue</h3>
            <ul>
                <li><a href="https://www.steelmillsaloon.com">Steel Mill Saloon</a> - 412-586-4926</li>
                <li><a href="http://www.thegrandviewsaloon.com">Coal Hill Steak House (Grandview Saloon)</a> - 412-431-1400</li>
                <li><a href="http://www.lemontpittsburgh.com">LeMont Restaurant</a> - 412-431-3100</li>
                <li><a href="http://www.montereybayfishgrotto.com">Monterey Bay Fish Grotto</a> - 412-381-1919</li>
            </ul>
            
            <h3>Station Square</h3>
            <ul>
                <li><a href="http://www.sheraton.com/stationsquare">Sheraton Pittsburgh Hotel at Station Square</a> - 412-261-2000</li>
                <li><a href="http://www.hardrock.com/pittsburgh">Hard Rock Cafe</a> - 412-481-7625</li>
                <li><a href="http://www.bucadibeppo.com">Buca di Beppo (Italian Cuisine)</a> - 412-471-9463</li>
                <li><a href="http://www.gatewayclipper.com">Gateway Clipper Fleet</a> - 412-355-7993</li>
                <li><a href="http://www.mollystrolleyspittsburgh.com">Molly's Trolleys - Charter a Customized Sightseeing Tour</a> - 412-281-2085</li>
                <li><a href="http://www.opentable.com/grand-concourse">Grand Concourse</a> - 412-261-1717</li>
                <li><a href="https://segwaypittsburgh.com">Segway in Paradise - Guided Tours</a> - 412-337-3941</li>
            </ul>
            
            <h3>North Shore</h3>
            <ul>
                <li><a href="http://www.theriverscasino.com">Rivers Casino Pittsburgh</a> - 412-231-7777</li>
                <li>Heinz Field - 412-323-1200</li>
                <li><a href="http://www.pittsburghpirates.com">PNC Park</a> - 412-321-BUCS</li>
                <li><a href="http://www.carnegiesciencecenter.org">Carnegie Science Center/Highmark Sports Works</a> - 412-237-3336</li>
                <li><a href="http://www.riverquest.com">RiverQuest</a> - 412-231-2712</li>
                <li><a href="http://www.kayakpittsburgh.org">Kayak Pittsburgh</a> - 412-969-9090</li>
                <li><a href="http://www.pittsburghkids.org">Children's Museum</a> - 412-322-5058</li>
                <li><a href="http://www.nationaviary.org">National Aviary</a> - 412-323-7235</li>
                <li><a href="http://www.warhol.org">Andy Warhol Museum</a> - 412-237-8300</li>
                <li><a href="http://www.mattress.org">Mattress Factory Art Museum</a> - 412-231-3169</li>
            </ul>
            
            <h3>Downtown</h3>
            <ul>
                <li><a href="http://www.downtownpittsburgh.com/market-square">Market Square</a></li>
                <li><a href="http://www.bikepittsburgh.com">Golden Triangle Bike Rental</a> - 412-600-0675</li>
                <li><a href="http://www.pittsburgh.about.com/od/discover_history/p/fort_pitt_museum.htm">Fort Pitt Museum + Blockhouse</a> - 412-454-6000</li>
                <li><a href="http://www.pittsburghcc.com/cc/">David L. Lawrence Convention Center</a> - 412-565-6000</li>
                <li><a href="http://www.pgharts.org/visit/facilities/benedum/">Benedum Center</a> - 412-456-6666</li>
                <li><a href="http://www.culturaldistrict.org/venues/byham-theater">Byham Theater</a> - 412-456-6666</li>
                <li><a href="https://www.ppgpaintsarena.com/">PPG Paints Arena</a> - 412-642-1800</li>
                <li><a href="http://www.heinzhistorycenter.org/">Senator John Heinz History Center</a> - 412-454-6000</li>
            </ul>
        </section>
    </main>
    
    <footer>
        <nav>
            <ul>
                <li><a href="parking.html">Parking</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
        <p>&copy; 2025 Duquesne Incline</p>
    </footer>
</body>
</html>
